<!DOCTYPE html>
<!-- 
Author: Kamal Chaya
Oregon State University
CS 496
This code is based on and modified from the python videos uploaded by instructor
-->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
		<title>Contact list</title>
	</head>
	<body>
		<h1>Contact List</h1>

		<!-- Form to add contact. I put it in its own div to style w/ CSS -->
		<div id="add_contact_form">
			<form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="action" value="add_contact">
				<fieldset>
					<legend>Add contact info: </legend>
					First name: <input type="text" name="firstname"><br>
					Last name: <input type="text" name="lastname"><br>
					Address: <input type="text" name="address"><br>
					Phone number: <input type="text" name="phone"><br>
					Upload contact picture: <input type="file" name="contactImg"><br>
								<input type="submit" value="Add"><br>
			
				</fieldset>
			</form>
		</div>
		
		{% if message %}
			<section>
				<h3>Result</h3>
				<p>{{ message }}
			</section>
		{% endif %}

		<!-- Button to go back to the main page -->
		<form action="/" method="get">
			<input type="submit" value="Main page">
		</form>
	</body>
</html>