<!DOCTYPE html>
<!-- 
Author: Kamal Chaya
Oregon State University
CS 496
This code is based on and modified from the python videos uploaded by instructor
-->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
		<title>Contact list</title>
	</head>
	<body>
		<!-- allow editing of contacts if there is at least 1 of them-->
		{% if contacts|length > 0 %}
		<section>
			<h1>Edit contact List</h1>
			<br>Choose a contact to edit<br>
			
			{% for c in contacts %}
				<table>
					<!-- Use the image url template variable to show the image of the contact -->
					<tr>
						<td>	
							{% if c.img_url %}
							<br><img src="{{ c.img_url }}" alt=""><br>
							{% endif %}
						</td>	

						<td>
							<br>{{ c.firstName }} {{ c.lastName }}
							<br>{{ c.addressLine1 }}
							{% if addressLine2 %}
							{{ c.addressLine2 }}
							{% endif %}
							<br>{{c.city}} {{ c.state }} {{ c.zipcode }}
							<br>{{ c.phoneNum }}
							<br>{{ c.email }}
							<br><a href='/editform?key={{ c.key }}&amp;type=contact'>Edit this contact</a>
						</td>
					</tr>
				</table>
			{% endfor %}
		</section>
		{% else %}
		<section>
			<h1>No contacts to edit</h1>
		</section>
		{% endif %}
		{% if message %}
		<section>
			Result:<br>
			{{ message }}
		</section>
		{% endif %}
		<!-- Button to go back to the main page -->
		<form action="/" method="get">
			<input type="submit" value="Main page">
		</form>
	</body>
</html>