<!DOCTYPE html>
<!-- 
Author: Kamal Chaya
Oregon State University
CS 496
This code is based on and modified from the python videos uploaded by instructor
-->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
		<title>Contact list</title>
	</head>
	<body>
		<!-- Display the image if there is one -->
		{% if img_url %}
		<img src="{{ img_url }}"><br>
		{% endif %}
 
		First name: {{contact.firstName}}<br>
		Last name: {{contact.lastName}}<br>
		Address: {{contact.address}}<br>
		Phone Number: {{contact.phoneNum}}<br>
	
		<form method="post" action="{{ edit_url }}" enctype="multipart/form-data">
			<input type="hidden" name="key" value="{{ contact.key.urlsafe() }}">
			<label>Change contact image?</label><br>
			<input type="radio" name="image-action" value="none">No<br>
			<input type="radio" name="image-action" value="delete">Delete<br>
			<input type="radio" name="image-action" value="change">Change/Add image (select new image below)<br>
			Upload picture: <input type="file" name="contactImg"><br>
			<input type="submit" value="Update">
		</form>
		

	</body>
</html>