<!--
Author: Kamal Chaya
Oregon State University
CS 496
-->
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
		<title>Contact list</title>
	</head>
	<body>
		<h1>Contact list</h1>
		<form action="/add" method="get">
			<input type="submit" value="Add a contact"> 
		</form>
		<form action="/edit" method="get">
			<input type="submit" value="Edit a contact"> 
		</form>
		
		<!-- Conditionally generated HTML. If there are contacts, show them below. -->
		{% if contacts|length > 0 %}
		<br><strong>Contacts are shown below:</strong><br>
		<section>
			{% for c in contacts %}
			<hr>
				<!-- Use the image url template variable to show the image of the contact -->
				{% if c.img_url %}
				<br><img src="{{ c.img_url }}"><br>
				{% endif %}	

				<br>First name: {{ c.firstName }}
				<br>Last name: {{ c.lastName }}
				<br>Address: {{ c.address }}
				<br>Phone number: {{ c.phoneNum }}

			{% endfor %}
		</section>
		{% endif %}
	</body>
</html>