body {
	background-color: #66ffff;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-family: "Arial";
}

h2 {
	font-family: "Arial";
}

#add_contact_form {
	background-color: #ccffff;
	font-family: "Arial";
}

#view_contacts {
	background-color: #ccffff;
}

#key_attr {
	font-weight: bold;
}